<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
  <link rel="stylesheet" href="/stylesheets/style2.css">

</head>

<body>
  <div class="wrapper">
    <header>
      <ul>
        <button id="main" class="btn-no-style" href="main" >Home</button>
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style" href="#" >logout</button>
      </ul>
      <h1>
        <a href="/">Just Tech News</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>