<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

<h1>This is the Homepage</h1>
<p>users first land here and see posts all posts that has already been made</p>